# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PORT=3000

#DB
POSTGRES_USER=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_PASSWORD=''
POSTGRES_DB=codyon

# DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
DATABASE_URL=postgresql://postgres@localhost:5432/codyon

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TIMEOUT=100

# Mailer
MAIL_HOST=smtp.gmail.com
MAIL_USER=codyon@gmail.com
MAIL_PASSWORD=aaaa bbbb cccc dddd

#TOKEN
ACCESSTOKEN_EXPIRE=600 # 10분
ACCESSTOKEN_SECRET=accesstoken
REFRESHTOKEN_EXPIRE=2592000 #30일
REFRESHTOKEN_SECRET=refreshtoken

#KAKAO-OAUTH
KAKAO_CLIENT_ID=d3ca2319f0aae898336d97d6569ddc7b
KAKAO_CLIENT_SECRET=yM4KIzqJ8FVdHnlV6kq5Prpe9RAPl6HJ
REDIRECT_URL=http://localhost:3000/api/oauth/kakao
KAKAO_OAUTH_URL=https://kauth.kakao.com/oauth/authorize
KAKAO_OAUTH_TOKEN_URL=https://kauth.kakao.com/oauth/token
KAKAO_USERINFO_URL=https://kapi.kakao.com/v2/user/me

#ENCRYPTION
ENCRYPTION_KEY=9bc75f58453fbcbb2688ec85fc6b2fc0
ENCRYPTION_IV=60a3f98742b42d2a

#AWS S3 BUCKET
AWS_REGION=''
AWS_ACCESSKEY_ID=''
AWS_SECRET_ACCESSKEY=''
AWS_S3_BUCKET=''
AWS_CDN_DOMIN=''
AWS_S3_FOLDER_PROFILE=''
